.app {
  display: flex;
  text-align: center;
  background-color: aliceblue;
}
.app-main {
  flex-basis: 1;
  width: 100%;
}

.socialIcons_wrapper a{
  padding-right: 6px;
  padding-top: 6px;
}

main {
  position: relative;
  width: 100%;
  height: calc(100% - 84px);
  font-size: calc(10px + 2vmin);
  background-color: rgb(205, 217, 161);
  color: white;
  border-radius: 20px;
  margin-top: 4px;
  overflow: hidden;
}
.model-open{
  overflow: hidden;
}
.modal-body{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(105, 101, 101, 0.6);
  z-index: 3;
  left: 0;
  top: 0;
}
.modal-body-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  width: 500px;
  height: 300px;
  background-color:whitesmoke;
  border-radius: 20px;
}