.app {
  display: flex;
  text-align: center;
  background-color: aliceblue;
}
.app-main {
  flex-basis: 1;
  width: 100%;
}

.socialIcons_wrapper a{
  padding-right: 6px;
  padding-top: 6px;
}

main {
  position: relative;
  width: 100%;
  min-height: 92vh;
  font-size: calc(10px + 2vmin);
  background-color: rgb(205, 217, 161);
  color: white;
  border-radius: 20px;
  margin-top: 4px;
}